extends ../layout

block content
  include ../partials/nav

  div.row
    div.six.columns
      h5.grey Drug Search
    div.six.columns
      p
  div.row
    div.two.columns
      p
    div.three.columns
      form(action='/drugsearch' method='post')
        p
          input(type='text' id='drugsearch' name='drugsearch' value=drugsearch)
        p
          input(type='submit' name='dsearch' value="Search")
    div.six.columns  
      if response
        h5.grey
          span= response.results[0].patient.drug[0].openfda.brand_name[0]
        table
          tr
            th Primary Reaction
            td= response.results[0].patient.reaction[0].reactionmeddrapt
          tr
            th Route
            td= response.results[0].patient.drug[0].openfda.route[0].toLowerCase()
          tr
            th Generic Name
            td= response.results[0].patient.drug[0].openfda.generic_name[0].toLowerCase()
          tr
            th Manufacturer
            td= response.results[0].patient.drug[0].openfda.manufacturer_name[0]
            
      p.unfound #{result}

          
    
