extends ../layout

block content
  script(src='https://code.jquery.com/jquery-1.9.1.min.js')
  script(src='https://twitter.github.io/typeahead.js/releases/latest/typeahead.bundle.js')
  script(src='/javascript/typeahead.js' type='text/javascript')
  include ../partials/nav

  div.row
    div.six.columns
      h5.greysearch Compare Drug Prices
    div.six.columns
      p
  div.row
    div.two.columns
      p 
    div.three.columns
      form(action='/goodrx' method='post')
        p
          input(type='text' id='search' class='typeahead' name='search' value=search)
          input(type='submit' name='dsearch' value="Search")
    div.six.columns
      if response 
        h5.grey
          span= response.data.brand[0].charAt(0).toUpperCase() + response.data.brand[0].slice(1) + " " + response.data.dosage + " " + response.data.quantity + " " + response.data.form + "s"
        table
          thead
            tr
              th Pharmacy
              th Price
          tbody
            tr
              td= response.data.price_detail.pharmacy[0]
              td $
                | 
                = response.data.price_detail.price[0].toFixed(2)
            tr
              td= response.data.price_detail.pharmacy[1]
              td $
                | 
                = response.data.price_detail.price[1].toFixed(2)
            tr
              td= response.data.price_detail.pharmacy[2]
              td $
                | 
                = response.data.price_detail.price[2].toFixed(2)
            
      p.unfound #{result}
