extends ../layout

block content
  include ../partials/nav

  div.row
    div.six.columns
      h5.grey Compare Drug Prices
    div.six.columns
      p
  div.row
    div.two.columns
      p 
    div.three.columns
      form(action='/goodrx' method='post')
        p
          input(type='text' id='search' name='search' value=search)
        p
          input(type='submit' name='dsearch' value="Search")
    div.six.columns
      if response 
        h5.grey
          span= response.data.brand[0].charAt(0).toUpperCase() + response.data.brand[0].slice(1) + " " + response.data.dosage + " " + response.data.quantity + " " + response.data.form + "s"
        table
          thead
            tr
              th Pharmacy
              th Price
          tbody
            tr
              td= response.data.price_detail.pharmacy[0]
              td $
                | 
                = response.data.price_detail.price[0].toFixed(2)
            tr
              td= response.data.price_detail.pharmacy[1]
              td $
                | 
                = response.data.price_detail.price[1].toFixed(2)
            tr
              td= response.data.price_detail.pharmacy[2]
              td $
                | 
                = response.data.price_detail.price[2].toFixed(2)
            
      p.unfound #{result}
